@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    color: white;
    background-color: #32124D;
    font-family: 'Poppins', sans-serif;
}
.divFather{
    display: flex;
    
    flex-direction: column;
    background-color: #32124D;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 20px;
    gap: 8px;
    width: 380px;
    height: 350px;
}
.showValue{
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(179, 177, 177); 
    color: black;
}
p{
    font-size: 20px;
    padding-right: 10px;
    
}
.divInputs{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 7px;
}
.divButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    
}
button{
    background-color:rgb(255, 255, 255);
    width: 100%;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divInputValue{
    display: flex;
    justify-content: center;
    gap:5px;
}
.inputFirstValue, .inputSecondValue{
    width: 100%;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(179, 177, 177);
}
h1{
    text-align: center;
    color: white;
}

button:hover{
    background-color: rgb(179, 177, 177); 
    
}

